/* My portfolio's CSS stylesheet */
/* Standard declarations */
html {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /* slight gray on whole page to see what's covered */
    background-color: LightGray;
    font-family: 'Roboto Slab', serif;
}

/* Nav bar declarations */

.top-navigation {
    position: fixed;
    z-index: 9999;
    width: 100%;
    font-family: 'Unica One', cursive;
    text-transform: uppercase;
    background-color: #0F1014; /*transparent then turn solid at a certain scroll point, revisit with jquery later*/
}

.top-navigation > .content {
    height: 4.5rem;
    width: 100%; /*when transparent scrolling works, also change this down to 80% */
    margin: auto;
}

.nav-list {
    font-size: 1.5rem;
    color: #ECCF05;
}

.home > a {
    color: #FFF;
}

.projects {
    margin-left: 1.2rem;
}

.instagram {
    margin-left: 68rem;
}

.github, .linkedin {
    margin-left: 1.2rem;
}

.nav-list li {
    display: inline-block;
}

.nav-list a:link, .nav-list a:visited {
    text-decoration: none;
    color: #ECCF05;
}

.nav-list a:hover {
    cursor: pointer;
    color: #8D2218;
}

/* Main section */
.main-section {
    background-image: url("../images/black_background.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    height: 50rem;
}

.monogram {
    font-size: 10rem;
    color: #ECCF05;
    font-family: 'Playfair Display', cursive;
    text-transform: uppercase;
    text-align: center;
    margin: 3rem 0 0 0;
}

.about-me {
    font-size: 1rem;
    color: #FFF;
    text-align: center;
    margin-top: 2rem;
}

hr {
    color: #584D04;
    width: 60%;
}

/* Project section */
.my-projects {
    background-color: #223442;
}

.my-projects > .content {
    width: 80%;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 3rem;
    color: #FFF; /*#FFE6E6;*/
}

.my-projects > .content > a > h2, h3 {
    color: #ECCF05;
}

.my-projects > .content > a > h2 {
    text-align: center;
    width: 40%;
    margin: auto;
    padding: 2rem 2rem;
    border: 1px solid #ECCF05;
    font-family: 'Playfair Display', cursive;
    text-transform: uppercase;
}

.project1, .project2, .project3, .more {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

.project1 > h3, .project3 > h3 {
    text-align: left;
}

.project1 > a > img, .project3 > a > img {
    margin-right: 2rem;
    float: left;
}

.project2 > h3 {
    text-align: right;
}

.project2 > a > img {
    margin-left: 2rem;
    float: right;
}

.more {
    text-align: center;
}

/* Footer section */
.citations > .content {
    color: #333333;
    width: 40%;
    text-align: center;
    margin: auto;
    font-size: 0.8rem;
}

.citations a:link, .citations a:visited {
    text-decoration: none;
    cursor: pointer;
    color: #8D2218;
}

.citations a:hover {
    cursor: pointer;
    color: #8F3C67;
}

/* Responsive mobile first */
@media only screen and (max-width: 500px) {
    .top-navigation {
        font-size: 3em;
    }

    .top-navigation > .content {
        width: 80%;
    }   
    
    .top-navigation {
        padding: 3em 0;
    }   
    .citations {
        font-size: 50%;
    }   
}



